{% set active_page = "admin.user" %}
{% extends "extends/base.twig" %}

{% block title %}Admin: Admin overview{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Admin: Admin overview</h1>
    </div>
    
    <p class="lead">
        You can add, change or remove a admin.
    </p>
    
    <div id="errorDisplay" class="alert alert-danger hidden">Oops! Something has gone wrong please try again.</div>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th style="width: 200px;">Created / Updated</th>
            <th style="width: 100px;" class="text-right">
                <a href="{{ url('admin.user.create') }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}  
          <tr>
            <td>
                {{ row['name'] }}<br>
                <strong>Login:</strong> {{ row['user'] }}
            </td>
            <td>
                <i class="glyphicon glyphicon-plus"></i>: {{ row['created_at'] | date('H:i - d M Y') }}<br>
                <i class="glyphicon glyphicon-edit"></i>: {{ row['updated_at'] | date('H:i - d M Y') }}
            </td>
            <th class="text-right">
                <a href="{{ url('admin.user.update', {'id': row['id']}) }}" attr-id="{{ row['id'] }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a href="#" attr-url="{{ url('admin.user.delete', {'id': row['id']}) }}" class="btn btn-danger removebutton">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ include('plugins/crudoverview.twig') }} 
{% endblock %}